a {
    text-decoration: none;
}
.saved-msg-td-th {
    border: 1px solid #BBBBBB;
    text-align: left;
    padding: 8px;
    white-space: pre;
}
.saved-msg-tr:nth-child(even) {
    background: #DDDDDD;
    border: 1px solid #FF0000;
}
.saved-msg-tbl {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
}
.saved-action-btn:hover {
    /*white-space: pre;*/
    /*width: 50%;*/
    /*height: 10px;*/
    transform: scale(1.01);
    box-shadow: 0 2px 2px rgba(0,0,0,.12), 0 2px 2px rgba(0,0,0,.06);
}
.saved-action-btn {
    margin-right: 0.5em;
}
.card-about {
    border-radius: 4px;
    background: #fff;
    box-shadow: 0 6px 10px rgba(0,0,0,.08), 0 0 6px rgba(0,0,0,.05);
      transition: .1s transform cubic-bezier(.155,1.105,.295,1.12),.1s box-shadow,.1s -webkit-transform cubic-bezier(.155,1.105,.295,1.12);
    cursor: pointer;
}
.card-about:hover {
    transform: scale(1.02);
    box-shadow: 0 10px 20px rgba(0,0,0,.12), 0 4px 8px rgba(0,0,0,.06);
}
.card-profile {
    /*border: 1px solid;*/
    margin-top: 5px;
    border-radius: 4px;
    background: #FFFFFF;
}
.div-profile-info {
    padding-bottom: 5px;
    padding-top: 5px;
    padding-right: 10px;
    padding-left: 10px;
}
.div-card-about {
    padding-bottom: 5px;
    padding-top: 5px;
    padding-right: 10px;
    padding-left: 10px;
}
.disabled-link-send {
    pointer-events: none;
    color: rgba(108,196,143);
    border: 1px solid;
    border-color: rgba(108,196,143);
    margin-right: 0.5rem;
    display: inline-block;
}
.active-link-send {
    color: green;
    margin-right: 0.5rem;
    display: inline-block;
}
.msg-btn:hover {
    transform: scale(1.01);
    box-shadow: 0 2px 2px rgba(0,0,0,.12), 0 2px 2px rgba(0,0,0,.06);
}
.form-button {
    margin-right: 0.5rem;
}
.loader {
    position: absolute;
    left: 50%;
    top: 50%;
    border: 10px solid #f3f3f3;
    border-radius: 50%;
    border-top: 10px solid #3498db;
    width: 60px;
    height: 60px;
    -webkit-animation: spin 1s linear infinite; /* Safari */
    animation: spin 1s linear infinite;
}
.overlay{
    display: none;
    opacity:0.8;
    background-color:#ccc;
    position:fixed;
    width:100%;
    height:100%;
    top:0px;
    left:0px;
    z-index:1000;
}
/* Safari */
@-webkit-keyframes spin {
    0% { -webkit-transform: rotate(0deg); }
    100% { -webkit-transform: rotate(360deg); }
}
@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}
.footer-general {
    background-color: white;
}
.div-collapse {
    margin: auto;
    top: 5%;
    width: 50%;
}
.collapse-btn {
    display: block;
    margin-left: auto;
    margin-right: auto;
}
.sso-link {
    display: flex;
    height: 38px;
    align-items: center;
    justify-content: left;
    text-decoration: none;
    color: #49545C;
    margin-bottom: 15px;
    border: 1px solid transparent;
    border-radius: 20px;
    background: #fff;
    box-shadow: 0 2px 2px rgba(0,0,0,0.14), 0 3px 1px -2px rgba(0,0,0,0.2), 0 1px 5px 0 rgba(0,0,0,0.12);
        transition: .1s transform cubic-bezier(.155,1.105,.295,1.12),.1s box-shadow,.1s -webkit-transform cubic-bezier(.155,1.105,.295,1.12);
}
.sso-link:hover {
    background-color: rgb(238,238,238);
    border-color: rgb(200,200,200);
    font-weight: bold;
    border: 2px solid;
}
#google-sso {
    border-color: rgb(255,0,0);
}
#google-sso:hover {
    background-color: rgb(253,203,202);
}
#github-sso {
    border-color: rgb(43,49,55);
}
#github-sso:hover {
    background-color: rgb(238,238,238);
}
#twitch-sso {
    border-color: rgb(145, 70, 255)
}
#twitch-sso:hover {
    background-color: rgb(214, 182, 255)
}
.sso-link-img {
    display: inline-block;
    width: 20px;
    height: 20px;
    margin-right: 10%;
    margin-left: 5%;
}
.sso-img {
    display: inline-block;
    width: 21px;
    height: 21px;
}
.bold-btn {
    font-weight: bold;
}
.bold-outline-btn {
    font-weight: bold;
    border: 2px solid;
}
.form-input {
    margin-bottom: 1rem !important;
    margin-top: 1rem !important;
}
#login-container {
    padding-right: 5%;
    padding-left: 5%;
}
.login-reg-submit-btn {
    width: 100%;
    font-weight: bold;
}
.login-reg-submit-btn:hover {
    box-shadow: 0 1px 1px rgba(0,0,0,0.14), 0 2px 0px -1px rgba(0,0,0,0.2), 0 1px 3px 0 rgba(0,0,0,0.12);
        transition: .1s transform cubic-bezier(.155,1.105,.295,1.12),.1s box-shadow,.1s -webkit-transform cubic-bezier(.155,1.105,.295,1.12);
}
.collapsable-msg {
    padding-left: 2%;
    padding-right: 2%;
}
#login-title {
    text-align:center;
    padding-bottom: 10px;
}
#create-an-account-link {
    text-decoration: none;
}
#login-link {
    text-decoration: none;
}
#encodedMessage {
    height: 28rem;
}
#decodedMessage {
    height: 28rem;
}
#decodeInputMessage {
    height: 8.25rem;
}
@media (min-width: 768px) {
    .navbar-brand.abs {
        position: absolute;
        width: auto;
        left: 50%;
        transform: translateX(-50%);
        text-align: center;
    }
    .div-title-center {
        text-align: center;
    }
}
@media (min-width: 992px) {
    #login-left {
        border-right: 1px solid #ccc;
    }
    .login-reg-submit-btn {
        width: 65%;
    }
    #login-container {
        padding-right: 15%;
        padding-left: 15%;
    }
}
@media (max-width: 176px) {
    .bold-outline-btn {
        margin-bottom: 5px;
    }
}