@media (min-width: 768px) {
.navbar-brand.abs {
        position: absolute;
        width: auto;
        left: 50%;
        transform: translateX(-50%);
        text-align: center;
    }
.div-title-center {
    text-align: center;
    }
}