<!doctype html>
{% set nav_bar_left = [
    ('/home', 'home', 'Home', 'Go to the welcome page'),
    ('/encode', 'encode', 'Encode', 'Encode a message'),
    ('/decode', 'decode', 'Decode', 'Decode a message'),
    ('/about', 'about', 'About', 'Bonus information')
] -%}
{% set nav_bar_right_auth = [
    ('profile', 'profile', 'Profile', 'User Profile'),
    ('/logout', 'logout', 'Logout', 'Logout')
] -%}
{% set nav_bar_right_anon = [
    ('/login', 'login', 'Login', 'Login'),
    ('/register', 'register', 'Register', 'Create an Account')
] -%}
{% set nav_bar_img = [
    ('home', 'bi-house-door'),
    ('encode', 'bi-file-lock2'),
    ('decode', 'bi-unlock'),
    ('about', 'bi-info-circle'),
    ('login', 'bi-box-arrow-in-right'),
    ('register', 'bi-person-plus'),
    ('profile', 'bi-person-badge'),
    ('404', 'bi-patch-question'),
    ('401', 'bi-patch-question')
] -%}
{% set active_page = active_page|default('index') -%}
<html lang="en">
    <head>
        <!-- Required meta tags -->
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

        <!-- Bootstrap -->
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-KK94CHFLLe+nY2dmCWGMq91rCGa5gtU4mk92HdvYe+M/SXH301p5ILy+dN9+nJOZ" crossorigin="anonymous">
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.5/font/bootstrap-icons.css">

        <!--MDB-->
        <!--Custom CSS-->
        <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">

        <!--Favicon-->
        <link rel="shortcut icon" type="image/ico" href="{{ url_for('static', filename='image/favicon.ico') }}">

        <!--Google SSO-->
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>

        <title>{% block title %} {% endblock %}</title>
    </head>
    <body>
        <nav class="navbar navbar-expand-lg navbar-dark bg-dark sticky-top">
            <div class="container-fluid">
                <a class="navbar-brand abs" href="{{ url_for('routes.home') }}">Adam's Message Encoding System</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#collapsibleNavbar" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <!--Navbar Image-->
                {% for id, image in nav_bar_img %}
                    {% if id == active_page %}
                        <i class="{{ image }}" style="color: white"></i>
                    {% endif %}
                {% endfor %}

                <!--Navbar Items-->
                <div class="collapse navbar-collapse" id="collapsibleNavbar">
                    <ul class="navbar-nav">
                        {% for href, id, caption, hover in nav_bar_left %}
                            {% if id == active_page %}
                                {% set row_class = "nav-link active" %}
                            {% else %}
                                {% set row_class = "nav-link" %}
                            {% endif %}
                            <li class="nav-item">
                                <a class="{{ row_class }}" href="{{ href|e }}" title="{{ hover|e }}">{{ caption|e }}</a>
                            </li>
                        {% endfor %}
                    </ul>
                    {% if current_user.is_authenticated %}
                        <ul class="navbar-nav ms-auto">
                            {% for href, id, caption, hover in nav_bar_right_auth %}
                                {% if id == active_page %}
                                    {% set row_class = "nav-link active" %}
                                {% else %}
                                    {% set row_class = "nav-link" %}
                                {% endif %}
                                {% if id == 'logout' %}
                                    <li class="nav-item">
                                        <a class="{{ row_class }}" href="{{ href|e }}" title="{{ hover|e }}">{{ caption|e }}</a>
                                    </li>
                                {% endif %}
                                {% if id == 'profile' %}
                                    <li class="nav-item">
                                        <a class="{{ row_class }}" href="{{ url_for('routes.' + href|e, user_id=current_user.id) }}" title="{{ hover|e }}">{{ caption|e }}</a>
                                    </li>
                                {% endif %}
                            {% endfor %}
                        </ul>
                    {% else %}
                        <ul class="navbar-nav ms-auto">
                            {% for href, id, caption, hover in nav_bar_right_anon %}
                                {% if id == active_page %}
                                    {% set row_class = "nav-link active" %}
                                {% else %}
                                    {% set row_class = "nav-link" %}
                                {% endif %}
                                <li class="nav-item">
                                    <a class="{{ row_class }}" href="{{ href|e }}" title="{{ hover|e }}">{{ caption|e }}</a>
                                </li>
                            {% endfor %}
                        </ul>
                    {% endif %}
                </div>
            </div>
        </nav>
        <div class="container main-body">
            {% for category, message in get_flashed_messages(with_categories=true) %}
                <div class="alert alert-{{ category }}">{{ message }}</div>
            {% endfor %}
            <div id="loading" class="overlay">
                <div class="loader"></div>
            </div>
            {% block content %} {% endblock %}
        </div>
        {% if active_page == 'encode' or active_page == 'decode' %}
        <div id="banner-bottom" class="fixed-bottom">
            <div class="div-collapse">
                <button Title="Hide/Show Info" type="button" class="btn btn-sm" data-toggle="collapse" data-target="#collapseFooter" aria-expanded="true" aria-controls="collapseExample">
                    <i class="bi bi-arrow-down-up"></i>
                </button>
            </div>
            <div id="collapseFooter" class="row footer-general collapse show">
                <hr class="mt-1 mb-3"/>
                <div class="col-md-8 offset-md-2 div-title-center">
                    <p>Please note that if the encoding/decoding takes longer than 10 seconds you will get a "504: GATEWAY_TIMEOUT" error saying "The Serverless Function has crashed". If that happens, navigate back to the app and try a smaller message. This is a limitation of Vercel's hobby account.</p>
                </div>
            </div>
        </div>
        {% endif %}

        <!-- jQuery first, then Popper.js, then Bootstrap JS -->
        <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-geWF76RCwLtnZ8qwWowPQNguL3RmwHVBC9FhGdlKrxdiJJigb/j/68SIy3Te4Bkz" crossorigin="anonymous"></script>

        <!-- Optional JavaScript -->
        <script>
            $(".nav-link").on("click", function(){
               $(".nav-link.active").removeClass("active");
               $(this).addClass("active");
            });
        </script>
    </body>
</html>
