{% extends 'base.html' %}
{% set active_page = "decode" %}

{% block content %}
<h1>{% block title %} Decode a Message {% endblock %}</h1>

<form id="decodeForm" method="post" class="form-general">
    <div class="mb-3">
        <textarea id="decodeInputMessage" name="decodeInputMessage" placeholder="Please enter your encoded message here." class="form-control" Title="This should contain a date on the first line with text following on each subsequent line.">{{ request.form['inputMessage'] }}</textarea>
    </div>
    <div class="mb-3">
        <button name="decodeSubmit" id="decodeSubmit" value="Submit" type="submit" class="btn btn-outline-primary bold-outline-btn" form="decodeForm" Title="Submit message for decoding" onClick="loadingMessage()">Submit</button>
        <button name="decodeClear" id="decodeClear" value="Clear" type="submit" class="btn btn-outline-danger bold-outline-btn" form="decodeForm" onClick="clearDecodeForm()" Title="Clear all page fields">Clear</button>
    </div>
    <hr class="mt-1 mb-1"/>
    <div class="mb-3">
        <div class="d-flex align-items-center highlight-toolbar ps-3 pe-2 py-1 border-0">
            <div class="d-flex ms-auto">
                {% if current_user.is_authenticated %}
                    {% if decoded_message|length < 1 %}
                        {% set link_class = "btn btn-outline-success btn-sm msg-btn disabled-link" %}
                    {% else %}
                        {% set link_class = "btn btn-outline-success btn-sm msg-btn active-link" %}
                    {% endif %}
                    <a id="emailLink" class="{{ link_class }}" Title="Send Email" role="button" href="mailto:{{ current_user.email }}?subject=Your decoded message.&body={{ decoded_message.replace('\n', '%0D%0A') }}" target="_blank" rel="noopener noreferrer">
                        <i class="bi bi-send" aria-hidden="true"></i>
                    </a>
                {% endif %}
                <button id="copyButton" aria-label="Copy to clipboard" data-bs-toggle="tooltip" data-bs-placement="top" title="Copy to clipboard" class="btn btn-outline-warning btn-sm msg-btn" type="button" onclick="copyToClipboard('decodedMessage')">
                    <i class="bi bi-clipboard" aria-hidden="true"></i>
                </button>
            </div>
        </div>
        <textarea id="decodedMessage" name="decodedMessage" rows="20" cols="140" readonly="readonly" placeholder="The decoded message gets displayed here." class="form-control">{{ decoded_message }}</textarea>
    </div>
</form>
<!-- page-specific javascript -->
<script>
    // Clear input after submitting
    document.getElementById('decodeInputMessage').value = "";

    // Disable copy when textarea is empty
    if(document.getElementById('decodedMessage').value != ""){
        document.getElementById('copyButton').disabled = false;
    }else{
        document.getElementById('copyButton').disabled = true;
    }
</script>
{% endblock %}