{% extends 'base.html' %}
{% set active_page = "encode" %}

{% block content %}
<h1>{% block title %} Encode a Message {% endblock %}</h1>

<form id="encodeForm" method="post" class="form-general">
    <div class="mb-3">
        <input id="inputMessage" type="text" maxlength="500" name="inputMessage" placeholder="Please enter the message to encode here." class="form-control" value="{{ request.form['inputMessage'] }}"/>
        <br/>
        <label for="encodeOffset" title="Different offsets result in different messages" class="form-label">Select the encoding offset value:</label>
        <input type="number" id="encodeOffset" name="encodeOffset" class="form-control" max="25" min="0" placeholder="0" form="encodeForm" title="Select a number between 0 and 25 | Default is 0">
    </div>
    <div class="mb-3">
        <button name="encodeSubmit" id="encodeSubmit" value="Submit" type="submit" class="btn btn-outline-primary bold-outline-btn" form="encodeForm" Title="Submit message for encoding" onClick="loading()">Submit</button>
        <button name="encodeClear" id="encodeClear" value="Clear" type="submit" class="btn btn-outline-danger bold-outline-btn" form="encodeForm" onClick="clearEncodeForm()" Title="Clear all page fields">Clear</button>
    </div>
    <hr class="mt-1 mb-1"/>
    <div class="mb-3">
        <div class="d-flex align-items-center highlight-toolbar ps-3 pe-2 py-1 border-0">
            <div class="d-flex ms-auto">
                {% if current_user.is_authenticated %}
                    {% if encoded_message|length < 1 %}
                        {% set link_class = "btn btn-outline-success btn-sm msg-btn disabled-link" %}
                    {% else %}
                        {% set link_class = "btn btn-outline-success btn-sm msg-btn active-link" %}
                    {% endif %}
                    <a id="emailLink" class="{{ link_class }}" Title="Send Email" role="button" href="mailto:{{ current_user.email }}?subject=Your encoded message.&body={{ encoded_message.replace('\n', '%0D%0A') }}" target="_blank" rel="noopener noreferrer">
                        <i class="bi bi-send" aria-hidden="true"></i>
                    </a>
                {% endif %}
                <button id="copyButton" aria-label="Copy to clipboard" data-bs-toggle="tooltip" data-bs-placement="top" title="Copy to clipboard" class="btn btn-outline-warning btn-sm msg-btn" type="button" onclick="copyToClipboard('encodedMessage')">
                    <i class="bi bi-clipboard" aria-hidden="true"></i>
                </button>
            </div>
        </div>
        <textarea id="encodedMessage" name="encodedMessage" rows="20" cols="140" readonly="readonly" placeholder="The encoded message gets displayed here." class="form-control">{{ encoded_message }}</textarea>
    </div>
</form>
<script src="{{ url_for('static', filename='js/encodeMessage.js') }}"></script>
<!-- page-specific javascript -->
<script>
    // Done here way so the input is cleared after submitting
    document.getElementById('inputMessage').value = "";

    // Disable copy when textarea is empty
    if(document.getElementById('encodedMessage').value != ""){
        document.getElementById('copyButton').disabled = false;
    }else{
        document.getElementById('copyButton').disabled = true;
    }
</script>
{% endblock %}