{% extends 'base.html' %}
{% set active_page = "home" %}

{% block content %}
<div class="row">
    <div class="col-md-8 offset-md-2 div-title-center">
        <h1>{% block title %}Welcome{% if current_user.is_authenticated %}{{ ', ' + current_user.first_name if current_user.first_name is not none else ', ' + current_user.username }}{% endif %}!{% endblock %}</h1>
        <h5>Please use the links in the navigation bar at the top of the page to select a destination.</h5>
        <p>This application was built to encode and decode an English message around the number of syllables in a word. A more detailed design document can be found in the GitHub repository found on the <a href="{{ url_for('routes.about') }}">About</a> page.</p>
    </div>
</div>
<div id="banner-bottom" class="fixed-bottom">
    <div class="div-collapse">
        <button Title="Hide/Show Info" type="button" class="btn btn-sm collapse-btn" data-toggle="collapse" data-target="#collapseFooter" aria-expanded="true" aria-controls="collapseExample">
            <i class="bi bi-arrow-down-up"></i>
        </button>
    </div>
    <div id="collapseFooter" class="row footer-general collapse">
        <hr class="mt-1 mb-3"/>
        <div class="col-md-8 offset-md-2 div-title-center">
            <p class="collapsable-msg">This app is a work in progress, apologies for any errors or issues encountered. Please stop by the <a target="_blank" href="https://github.com/adam-bartholomew/encode-message">GitHub repo</a> to create an issue if you'd like.</p>
        </div>
    </div>
</div>

{% endblock %}