{% extends 'base.html' %}
{% set active_page = "profile" %}
{% set sso_providers = [
	('google', 'https://upload.wikimedia.org/wikipedia/commons/thumb/5/53/Google_%22G%22_Logo.svg/2048px-Google_%22G%22_Logo.svg.png'),
	('github', 'https://upload.wikimedia.org/wikipedia/commons/9/91/Octicons-mark-github.svg'),
	('twitch', 'https://upload.wikimedia.org/wikipedia/commons/d/d3/Twitch_Glitch_Logo_Purple.svg')
] -%}

{% block content %}
<h1>{% block title %}Update Profile{% endblock %}</h1>
<div class="div-profile-info">
    <div class="row">
        <div class="col-md-4">
            <p>Created: {{ user.get_formatted_date(user.creation_datetime) }}</p>
            <p>Created By: {{ user.creation_userid }}</p>
        </div>
        <div class="col-md-4">
            <p>Last Modified: {{ user.get_formatted_date(user.last_modified_datetime) }}</p>
            <p>Last Modified By: {{ user.last_modified_userid }}</p>
        </div>
        {% if user.sso %}
            <div class="col-md-4">
                <p><span Title="Click a specific icon to revoke access.">Connected Accounts:</span>
                {% for provider, img in sso_providers %}
                    {% if provider.capitalize() in user.sso.split(',') and session.current_oauth_provider == provider %}
                        <input type="hidden" id="provider_url" value="{{ url_for('routes.oauth2_revoke', provider=provider) }}">
                        {% if provider == 'github' %}
                            <a href="https://github.com/settings/connections/applications/{{ oauth2_providers['github']['client_id'] }}" target="_blank" onclick="disconnectOAuth2()"><img id="revoke-{{ provider }}-conn" src="{{ img }}" aria-label="{{ provider }} Image" aria-hidden="true" Title="Remove {{ provider.capitalize() }} connection - Opens your GitHub account connections page." alt="{{ provider }} Image" class="sso-img"></a>
                        {% elif provider == 'twitch' %}
                            <a href="https://www.twitch.tv/settings/connections" target="_blank" onclick="disconnectOAuth2()"><img id="revoke-{{ provider }}-conn" src="{{ img }}" aria-label="{{ provider }} Image" aria-hidden="true" Title="Remove {{ provider.capitalize() }} connection - Go to your Twitch account > Settings > Connections > Other Connections and disconnect &quot;encode-message&quot;." alt="{{ provider }} Image" class="sso-img"></a>
                        {% elif provider == 'google' %}
                            <a href="{{ url_for('routes.oauth2_revoke', provider=provider) }}"><img id="revoke-{{ provider }}-conn" src="{{ img }}" aria-label="{{ provider }} Image" aria-hidden="true" Title="Remove {{ provider.capitalize() }} connection." alt="{{ provider }} Image" class="sso-img"></a>
                        {% endif %}
                    {% elif provider.capitalize() in user.sso.split(',') %}
                        <img id="{{ provider }}-conn" src="{{ img }}" aria-label="{{ provider }} Image" aria-hidden="true" Title="Login with {{ provider.capitalize() }} to remove connection." alt="{{ provider }} Image" class="sso-img">
                    {% endif %}
                {% endfor %}
                </p>
            </div>
        {% endif %}
    </div>

    <form id="updateProfileForm" action="{{ url_for('routes.profile', user_id=current_user.id) }}" method="post" class="form-general">
        <div class="row">
            <div class="col-sm-6">
                <div class="card-profile">
                    <div class="card-body">
                        <label for="profile_username" title="Username" class="form-label">Username:</label>
                        <input type="text" id="profile_username" name="profile_username" required="required" Title="Username is case sensitive" placeholder="Username" value="{{ user.username }}" maxlength="25" class="form-control"/>
                    </div>
                </div>
            </div>
            <div class="col-sm-6">
                <div class="card-profile">
                    <div class="card-body">
                        <label for="profile_password" title="New Password" class="form-label">New Password:</label>
                        <input id="profile_password" type="password" name="profile_password" Title="Password must be 8 - 25 characters in length" placeholder="Password" minlength="8" maxlength="25" class="form-control"/>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-4">
                <div class="card-profile">
                    <div class="card-body">
                        <label for="profile_firstname" title="First Name" class="form-label">First Name:</label>
                        <input id="profile_firstname" type="text" name="profile_firstname" value="{{ user.first_name }}" placeholder="First Name" maxlength="100" class="form-control"/>
                    </div>
                </div>
            </div>
            <div class="col-sm-4">
                <div class="card-profile">
                    <div class="card-body">
                        <label for="profile_lastname" title="Last Name" class="form-label">Last Name:</label>
                        <input id="profile_lastname" type="text" name="profile_lastname" value="{{ user.last_name }}" placeholder="Last Name" maxlength="100" class="form-control"/>
                    </div>
                </div>
            </div>
            <div class="col-sm-4">
                <div class="card-profile">
                    <div class="card-body">
                        <label for="profile_email" title="Email Address" class="form-label">Email Address:</label>
                        <input id="profile_email" type="text" name="profile_email" value="{{ user.email }}" placeholder="Email Address" maxlength="80" class="form-control"/>
                    </div>
                </div>
            </div>
        </div>
        <hr class="mt-3 mb-3"/>
        <div class="mb-3">
            <button name="updateProfile" id="updateProfile" class="btn btn-primary bold-btn" Value="Update Profile" type="submit" form="updateProfileForm" title="Update Profile">Update Profile</button>
            <button name="deleteAccount" id="deleteAccount" class="btn btn-danger bold-btn float-end" Value="Delete Account" type="submit" form="updateProfileForm" title="Delete Account" onClick="return confirm('Are you sure you want to delete your account?');">Delete Account</button>
        </div>
    </form>
</div>
{% endblock %}