{% extends 'base.html' %}
{% set active_page = "login" %}

{% block content %}
<h1>{% block title %} Login {% endblock %}</h1>
<form action="\login" id="loginForm" method="post" class="form-general">
	<div class="mb-3">
		<input type="text" name="username" required="required" placeholder="Username" maxlength="25" class="form-control"/>
		<br/>
		<input type="password" name="password" required="required" placeholder="Password" maxlength="25" class="form-control"/>
	</div>
	<div class="mb-3">
		<button name="loginSubmit" class="btn btn-primary" Value="Login" type="submit" form="loginForm" title="Login">Login</button>
	</div>
</form>
{% endblock %}
