{% extends 'base.html' %}
{% set active_page = "register" %}

{% block content %}
<h1>{% block title %}Create an account{% endblock %}</h1>
<form id="signUpForm" action="#" method="post" class="form-general">
    <div class="mb-3">
        <input type="text" name="username" required="required" placeholder="Username" maxlength="25" class="form-control"/>
        <br/>
        <input type="password" name="password" required="required" placeholder="Password" maxlength="25" class="form-control"/>
    </div>
    <div class="mb-3">
        <button name="registerSubmit" class="btn btn-primary" Value="Sign Up" type="submit" form="signUpForm" title="Register an account">Sign Up</button>
    </div>
</form>
{% endblock %}